/*#id
.class
*/
html{
  padding: 50px 50px 50px 50px;
  background-color: #F0F8FF
}
.base{
  border-style: hidden;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}
#logo{
  height: 80px;
  width: 160px;
  margin: 18px 10px 10px 18px;
  position: absolute;
  background-color: #FFFFFF;
  border-style: inset;
}
header.base{
  background-color: #E6E6FA;
  border-style: inset;

}
.base#caixatp{
  padding-left: 75%;
}
.base#topicoscaixatp{
  border-style: inset;
}
.base#pesquisa{
  background-color: white;
  border-style: inset;
}
.base#secao{
  margin-left: 28%;
  width: 415px;
  height: 75px;
  background-color: #FFF0F5;
  border-style: inset;
}
.base#secao ul{
  list-style-type: disc;
  background-color: red;
  margin: 0;
  padding: 0;
}
.base#secao li{
  float: left;
}
.base#meio{
  height: 800px;
}
.base-section{
  border-style: inset;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  display: inline-block;
}
.base-section#esquerda{
  width: 15%;
  height: 80%;
  background-color: #F5F5F5;
}
.base-section#esquerda a:hover{
  background-color: #FF0000;
}
.base-section#direita{
  float: right;
  width: 15%;
  height: 550px;
  background-color: #F5F5F5;
}
.base-section#conteudo{
  width: 61%;
  height: 550px;
  float: right;
  background-color: #FFFFFF;
}
.base-section#rodape{
  width: 60%;
  height: 100px;
  display: inline-block;
  float: right;
  position: absolute;
  margin: -7% 0% 0% 18%;
  background-color: #E6E6FA;
}
.base-section#links{
  width: 15%;
  height: 100px;
  float: right;
  position: absolute;
  margin: -7% 0% 0% 81%;
  background-color: #C0C0C0;
}
