/*#id
.class
*/
html{
  padding: 50px 50px 50px 50px;
}
.base{
  border-style: solid;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  position: relative;
}
#logo{
  height: 80px;
  width: 160px;
  margin: 18px 10px 10px 18px;
  position: absolute;
}
.base#caixatp{
  padding-left: 75%;
}
.base#secao{
  margin-left: 28%;
  width: 415px;
  height: 75px;
}
.base#secao ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.base#secao li{
  float: left;
}
.base#meio{
  height: 800px;
}
.base-section{
  border-style: solid;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  display: inline-block;
}
.base-section#esquerda{
  width: 15%;
  height: 80%;
}
.base-section#esquerda a:hover{
  background-color: #FF0000;
}
.base-section#direita{
  float: right;
  width: 15%;
  height: 550px;
}
.base-section#conteudo{
  width: 61%;
  height: 550px;
  float: right;
}
.base-section#rodape{
  width: 60%;
  height: 100px;
  display: inline-block;
  float: right;
  position: absolute;
  margin: -7% 0% 0% 18%;
}
.base-section#links{
  width: 15%;
  height: 100px;
  float: right;
  position: absolute;
  margin: -7% 0% 0% 81%;
}
